/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * CSS file: for jaxx.io the official website for jaxx liberty, the leading Multi-Platform Wallet created by Anthony Di Iorio, Co-Founder of Ethereum and Founder and CEO of Decentral and Jaxx.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    /* background: black; */
    font-family: 'Helvetica Neue', Helvetica, Avenir, sans-serif;
    overflow-x: hidden;
    max-width: 1500px;
    margin: auto;
    opacity: 0;
    width: 100%;
}

/* links */

a,
a:active,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover {
    color: #ff6902;
    text-decoration: none;
}

footer a:hover {
    color: rgb(38, 65, 118);
    text-decoration: none;
}

/* height + width utilities */

.min-100 {
    min-height: 100vh;
}

.min-300 {
    min-height: 300px;
}

.min-400 {
    min-height: 400px;
}

.min-500 {
    min-height: 500px;
}

.min-600 {
    min-height: 600px;
}

.min-700-lg {
    min-height: 700px;
}

/*  buttons */

.btn,
.btn-default,
.btn-lg {
    /*    border-radius: 23px;*/
    -webkit-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-orange,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:visited {
    background: #ff6902;
    border: 1px solid #ff6902;
    color: white;
}

.btn-orange:hover {
    background: transparent;
    border: 1px solid #ff6902;
    color: #ff6902;
}

.btn-outline-orange,
.btn-outline-orange:active,
.btn-outline-orange:focus,
.btn-outline-orange:visited {
    background: transparent;
    border: 1px solid #ff6902;
    color: #ff6902;
}

.btn-outline-orange:hover {
    background: #ff6902;
    border: 1px solid #ff6902;
    color: #fff;
}

.btn-navy,
.btn-navy:active,
.btn-navy:focus,
.btn-navy:visited {
    background: #264277;
    background: rgb(38, 66, 119);
    border: 1px solid rgb(38, 66, 119);
    color: white;
    font-weight: bold;
}

.btn-navy:hover {
    background: transparent;
    border: 1px solid rgb(38, 66, 119);
    color: rgb(38, 66, 119);
}

/* borders */

.border-navy {
    border-color: #264277 !important;
    border-color: rgb(38, 66, 119) !important;
}

.border-orange {
    border-color: #ff6902 !important;
}

.border-grey {
    border-color: lightgrey !important;
}

.rounded-right-top {
    border-radius: 0 40px 0 0;
}

/* text */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
button,
.btn {
    font-family: 'Helvetica Neue', Avenir, sans-serif;
}

.h1,
.h2,
.h3 {
    letter-spacing: -2px;
    line-height: 90%;
}

p {
    font-size: 19px;
    font-weight: 400;
}

.p-big {
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
}

.p-btn {
    color: #ff6902;
    font-size: 24px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.p-btn:hover {
    color: #ff6902;
    text-decoration: underline;
}

.site-title {
    font-size: 10vmin;
    font-size: 64px;
    /*apple ipad text*/
    /*	font-size: 54px; */
    /*apple homepod gradient text*/
    font-weight: 600;
    line-height: 95%;
    letter-spacing: -2px;
    padding: 5px 0 10px;
}

.site-title-big {
    font-size: 80px;
    /*apple app store text*/
    font-size: 11vmin;
    /*same in vmin*/
    font-weight: 900;
    line-height: 95%;
    letter-spacing: -3px;
    padding: 10px 0;
}

.page-title {
    color: #000;
    font-size: 56px;
    font-size: 64px;
    font-weight: 900;
    line-height: 90%;
    letter-spacing: -2px;
    padding: 10px 0;
}

.section-title {
    color: #000;
    line-height: 100%;
    letter-spacing: -2px;
    font-size: 48px;
    font-weight: 900;
    padding: 8px 0;
}

.section-title-text {
    font-weight: 500;
}

.word-break {
    word-break: break-all;
}
.font-weight-medium {
    font-weight: 400;
}

/* fonts + text effects */

.knockout-gradient {
    color: #000;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
    background: linear-gradient(to right, #f5af19, #f12711);
    background: -o-linear-gradient(transparent, transparent);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}

.line-height {
    line-height: 80%;
}

.op-5 {
    opacity: 0.5;
}

.opacity-full {
    opacity: 1;
}

/* drop shadow */

.ds {
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    filter: drop-shadow(8px 8px 10px gray);
}

.ds-big {
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
}

.ds-black {
    -webkit-filter: drop-shadow(3px 3px 5px #000);
    filter: drop-shadow(3px 3px 5px #000);
}

.ds-white {
    -webkit-filter: drop-shadow(3px 3px 5px #000);
    filter: drop-shadow(3px 3px 5px #000);
    -webkit-filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.5));
}

.ds-orange {
    -webkit-filter: drop-shadow(3px 3px 5px orange);
    filter: drop-shadow(3px 3px 5px orange);
}

.ts {
    text-shadow: 2px 2px 10px #444;
}

.ts-title {
    text-shadow: 1px 1px #000,
        2px 2px #000,
        3px 3px #000,
        4px 4px #000,
        5px 5px #000,
        6px 6px #000;
}

/*brightness filter */

.filter-dark {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

/*text stroke*/

.stroke-n {
    color: transparent;
    -webkit-text-stroke: 1px rgb(38, 65, 118);
}

.stroke-o {
    color: transparent;
    -webkit-text-stroke: 0.5px #ff6902;
    -webkit-text-stroke: 0.5px rgba(255, 105, 2, 0.5);
}

.stroke-b {
    color: transparent;
    -webkit-text-stroke: 0.5px #000;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}

.hr-big {
    height: 6px;
    width: 70px;
}

/* position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.top-100 {
    top: 100px;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.bottom-0 {
    bottom: 0;
}

.z--1 {
    z-index: -1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

/* animation ===================*/

.animated {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/* home page star rating */
.checked {
    color: orange;
  }

/* animista css animations */

.gradient-background {
	        -webkit-animation: gradient-background 5s linear infinite alternate both;
	        animation: gradient-background 5s linear infinite alternate both;
}
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/**
 * ----------------------------------------
 * animation gradient-background
 * ----------------------------------------
 */

@-webkit-keyframes gradient-background {
  0% {
    background: #f5af19;
  }
  100% {
    background: #f12711;
  }
}
@keyframes gradient-background {
  0% {
    background: #f5af19;
  }
  100% {
    background: #f12711;
  }
}
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
/*SWUP transition animations*/

/*main page transition fade*/

.transition-fade {
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    transition-delay: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.is-animating .transition-fade {
    opacity: 0;
}

/*zoom [fade-in-right]*/

.zoom {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.is-animating .zoom {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

.zoom-med {
    -webkit-transition: 1s;
    transition: 1s;
}

.zoom-med-slow {
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.zoom-slow {
    -webkit-transition: 1.8s;
    transition: 1.8s;
}


/*fade-down*/

.down {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.is-animating .down {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
}

/*fade right*/

.right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.is-animating .right {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

/*fade left*/

.left {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.is-animating .left {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

/*fade-up [changed to simple fade]*/

.up {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.is-animating .up {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
}

/* transitions */

.down,
.up,
.left,
.right {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.75, -0.39, .25, 1.4);
    transition-timing-function: cubic-bezier(.75, -0.39, .25, 1.4);
}

.right-med,
.left-med,
.up-med,
.down-med {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transition-timing-function: cubic-bezier(.75, -0.39, .25, 1.4);
    transition-timing-function: cubic-bezier(.75, -0.39, .25, 1.4);
}

.right-slow,
.left-slow,
.up-slow,
.down-slow {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition-timing-function: cubic-bezier(.75, -0.39, .25, 1.4);
    transition-timing-function: cubic-bezier(.75, -0.39, .25, 1.4);
}


/* overlay animation: add div with transition-wipe for animation and the overlay to be revealed and moved
<div class="transition-wipe overlay"></div> */


/* .overlay {
    position: absolute;
    background: #ff6902;
    top: 0;
    width: 2000px; 
    z-index: 2000;
    transform: scale(0);
    transform-origin: left;
}

.transition-wipe {
    transition: 1s ease-in-out;
    transform: scaleX(0);
}

html.is-animating .transition-wipe {
    transform: scaleX(1);
    width: 3000px;
    height: 10000px;
} */


/* colors ===================*/

.orange {
    color: #ff6902 !important;
}

.navy {
    color: rgb(38, 65, 118);
    color: rgb(38, 66, 119);
    /* from style guide */
}

/* bg colors ======================*/

.bg-trans {
    background: transparent !important;
}

.bg-orange {
    background-color: #ff6902 !important;
}

.bg-orange-gradient {
    background: #f12711;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    /*    background: linear-gradient(to right, #ff6902, #f12711);*/
    background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
    background: linear-gradient(to right, #f5af19, #f12711);
}

.bg-blue-gradient {
    background: #373B44;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}
.bg-navy-gradient {
    background: rgb(9,29,67);
    background: -moz-linear-gradient(90deg, rgba(9,29,67,1) 0%, rgba(41,84,171,1) 50%, rgba(9,29,67,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(9,29,67,1) 0%, rgba(41,84,171,1) 50%, rgba(9,29,67,1) 100%);
    background: linear-gradient(90deg, rgba(9,29,67,1) 0%, rgba(41,84,171,1) 50%, rgba(9,29,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091d43",endColorstr="#091d43",GradientType=1);
}

.bg-navy {
    background-color: rgb(38, 65, 118);
    background-color: rgb(38, 66, 119);
}

/* liberty colors */

.border-navy {
    border-color: #264277 !important;
    border-color: rgb(38, 66, 119) !important;
}

.border-box-navy {
    border-color: #576FA2 !important;
}

.bg-dark-navy {
    background: #091D43;
}

.bg-box-navy {
    background: #233B6B;
}

.bg-slategray {
    background: lightslategray;
}

.bg-lightgrey {
    background-color: #CCCCCC !important;
    background-color: #f2f2f2 !important;
}

.bg-white-op {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

.bg-black {
    background: #000;
}

.bg-light-grey {
    background-color: rgba(0, 0, 0, 0.1);
}

/* effects */

.skew {
    -webkit-transform: skew(0, -4.7deg);
    transform: skew(0, -4.7deg);
}

/*  Home ================================*/

.banner-gradient {
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    position: absolute;
    z-index: 2;
    height: 900px;
    width: 900px;
    max-width: 100%;
    transform: rotate(51.8deg);
    left: -100px;
    top: -300px;
    border-radius: 20px 20px 40% 20px;
}
.banner-gradient-cover {
    height: 900px;
    width: 600px;
    max-width: 100%;
    left: -200px;
    left: -600px;
}

/* background images ======================*/

.bg--home-banner {
    background: url(/assets/img/jaxx-iphone-isometric-gallery.jpg) center top;
    background-size: cover;
}
.bg--home-testimonials {
    background: linear-gradient(to right, rgba(245, 175, 25, 0.8), rgba(241, 39, 17, 0.8)), url(/assets/img/jaxx-app-homescreen-min.jpg) center;
    background-size: cover;
}
.bg--careers-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/decentral-soccer.jpg) center top;
    background-size: cover;
}

/* security */

.bg--ipad-wood-table {
    background: url(/assets/img/jaxx-ipad-black-wood-table.jpg) center 44%;
    background-size: cover;
}

/* images + logos ======================*/

.img {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.img-full {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.jazzy {
    width: 600px;
}
.img-port-desktop {
    width: 1200px;
    left: -500px;
}
.img-portfolio-hand {
    width: 800px; 
    left: -200px;
}
.img-shield {
    width: 450px;
    left: -100px;
}
.img-iphone-password {
    width: 600px;
    left: -73px;
    top: -45px;
}
.img-home-support {
    width: 450px;
}

/*lazy loading classes*/

img {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

img.lazy-loaded {
    opacity: 1;
}

/*remove lazy class treatment from home page banner, features phones, and modal imgs*/

#banner img,
footer img,
img.jaxx-navbar-brand,
img.decentral-logo,
#features img,
#blogAPI img,
#coinLogos img {
    opacity: 1;
}

/* community page coin logo imgs */

.coin-logo {
    width: 80px;
    width: 40px;
}

/* community page coin table */

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

/*features phone case imgs*/

.feat-phone {
    width: 300px;
}

/* decentral logo ======================*/

.decentral-navbar-brand {
    height: auto;
    margin: 0 0 0 10px;
    width: 185px;
    width: 35px;
}

.jaxx-navbar-brand {
    height: auto;
    margin: 10px 10px 0;
    width: 85px;
}

.decentral-logo {
    height: auto;
    width: 185px;
}

.decentral-D {
    height: auto;
    opacity: 1;
    width: 80px;
}

.decentral-mobile-menu {
    height: auto;
    width: 40px;
}

.decentral-logo-jumbo {
    height: auto;
    margin-bottom: -20px;
    width: 20vw;
}

/*===== Home ======*/

/*images ===========*/

.banner-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
}

.banner-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
}

/*  modals */

.modal-content {
    border: 10px solid lightgrey;
    border-radius: 0;
}

.modal.fade {
    -webkit-transition: opacity .5s linear, top .5s ease-out;
    transition: opacity .5s linear, top .5s ease-out;
}

/* cookies consent banner ======================*/

.cc-message,
.cc-btn {
    font-family: 'Helvetica Neue', Helvetica, Avenir, sans-serif;
    font-size: 16px;
}

.cc-message a,
.cc-link {
    color: #ff6902;
}

.cc-window {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.cc-window.cc-invisible {
    opacity: 0;
}

.cc-revoke.cc-top {
    display: none;
    top: 0;
    left: 3em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.cc-revoke.cc-bottom {
    display: none;
    bottom: 0;
    left: 3em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.cc-revoke.cc-left {
    display: none;
    left: 3em;
    right: unset;
}

.cc-revoke.cc-right {
    display: none;
    right: 3em;
    left: unset;
}

/* about modal toggle close */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6902;
    background-color: linear-gradient(to right, #f5af19, #f12711);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ff6902;
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px #ff6902;
    box-shadow: 0 0 1px #ff6902;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

/* modal Rounded close sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    /*    color: transparent;*/
    /* text-shadow: 0 1px 0 #fff; */
    text-shadow: none;
    opacity: 1;
}

/*download badges*/

.store-badge,
.banner-store-badge,
.home-store-badge {
    opacity: 1;
}
.store-badge {
    width: 150px;
}
.banner-store-badge {
    width: 125px;
}
.home-store-badge {
    width: 200px;
}

/* about page history timeline ======================*/

.timeline-item {
    /*  padding: 3em 2em 2em;*/
    padding: 0.5em 0 2em 2em;
    position: relative;
    /*  color: rgba(0, 0, 0, 0.7);*/
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
}

.timeline-item p:first-of-type {
    padding: 10px 0;
    margin-bottom: 5px;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: white;
}

/* 404 page D logo */

.title-404 {
    font-size: 30vmin;
}

.d {
    height: auto;
    width: 200px;
}

/*community json blog API data --> columns =========*/

.columns--blog {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px dotted lightgrey;
    column-rule: 1px dotted lightgrey;
    padding: 20px 20px 0;
}

.columns--blog img {
    width: 100%;
    height: auto;
}

.columns--blog h2:first-of-type {
    margin: 0 0 10px;
}

.columns--blog:nth-of-type(2) {
    background: #d6d6d6;
}

.columns--blog h2 {
    border-top: 1px dotted lightgrey;
    color: grey;
    font-weight: bold;
    line-height: 95%;
    letter-spacing: -2px;
    margin: 20px 0 20px;
    padding: 20px 0 10px;
}

.columns--blog h3,
.columns--blog h4,
.columns--blog h5 {
    border-top: 1px dotted lightgrey;
    border-bottom: 1px dotted lightgrey;
    padding: 20px 0;
    margin: 0 0 20px;
}

.columns--blog p::first-line {
    color: darkgrey;
    font-style: italic;
    font-weight: 900;
}

.blog-button-container hr {
    display: none;
}

/* careers ======================*/

#careers .fa-code,
#careersModal .fa-code,
#careersIntroList .fa-code {
    color: grey;
    font-size: 17px;
}

/* .card-body */
#accordionExample ul,
.code {
    color: #28a745;
    font-family: 'Courier New', Courier, monospace;
}

#careers ul li:nth-of-type(even) {
    background-color: #f8f9fa;
}

/* nav ======================*/

nav,
.navbar {
    background: rgba(0, 0, 0, 0.9);
    /*	background: transparent;*/
    /*	border-bottom: 1px solid lightgrey;*/
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 1.5rem 1rem;
    padding: 1rem;
}

#google_translate_element,
.goog-te-gadget .goog-te-combo, 
.goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
    font-family: Helvetica Neue;
    font-size: 13pt;
}
#google_translate_element #text,
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
    font-size: 12px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    display: none;
}

/*mobile nav dropdown speed*/

.collapsing {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* mobile menu line animation */

.wrapper-menu {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: -webkit-transform 330ms ease-out;
    transition: -webkit-transform 330ms ease-out;
    transition: transform 330ms ease-out;
    transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
}

.wrapper-menu.open {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.line-menu {
    background-color: #fff;
    background-color: #ff6902;
    background-color: linear-gradient(to right, #f5af19, #f12711);
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -webkit-transform-origin: right;
    transform-origin: right;
}

.open .line-menu.start {
    -webkit-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.open .line-menu.end {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px);
}

/**/

.nav-link,
.nav-item {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
}

.active {
    color: #ff6902;
}

/*  icons */


.fa {
    font-size: 10vmin;
    font-size: 6vmin;
    font-size: 35px;
    padding: 30px 20px;
}

.icon {
    font-size: 50px;
}

#testimonials .fa {
    font-size: 6vmin;
    font-size: 40px;
    padding: 10px 40px 10px 0;
}

#banner .fa-btn,
.fa-btn {
    font-size: 25px;
    padding: 0 5px;
}

.fa--stroke {
    color: transparent;
}

.fa--stroke-g {
    -webkit-text-stroke: 2px grey;
}

.fa--stroke-o {
    -webkit-text-stroke: 2px #ff6902;
}

/*  footer ======================*/

footer li a {
    font-size: 18px;
}

.footer-leaf {
    height: 40px;
}

/* media queries ======================*/

@media (min-width: 1900px) {

    .banner-gradient {
        border-radius: 20px 20px 40% 20px;
        -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
        position: absolute;
        z-index: 2;
        /* og=== */
        /* height: 1000px;
        width: 1200px;
        max-width: 100%;
        transform: rotate(52.25deg);
        left: -300px;
        top: -300px; */
        /*big====*/
        /*height: 1300px;
        width: 1200px;
        max-width: 100%;
        transform: rotate(51.8deg);
        left: -392px;
        top: -349px;
        */
        height: 1200px;
        width: 1200px;
        max-width: 100%;
        transform: rotate(51.8deg);
        left: -401px;
        top: -337px;
        -webkit-transform: rotate(51.8deg);
        -moz-transform: rotate(51.8deg);
        -ms-transform: rotate(51.8deg);
        -o-transform: rotate(51.8deg);
}
    .min-700-lg {
        min-height: 1000px;
    }

    .page-title {
        font-size: 96px;
    }
}

@media (min-width: 1200px) {
    .feat-phone {
        width: 400px;
    }
    .img-port-desktop {
        width: 1100px;
        left: -500px;
    }
}

@media (max-width: 1024px) {
    .jazzy {
        width: 470px;
    }
    .img-port-desktop {
        width: 900px;
        left: -400px;
    }
    .img-portfolio-hand {
        width: 800px;
        left: -238px;
    }
    .img-shield {
        width: 400px;
        left: -110px;
    }
    .banner-gradient {
        height: 900px;
        width: 900px;
        max-width: 100%;
        left: -350px;
        top: -252px;
    }
}

@media (max-width: 992px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }
    .btn-lg {
        padding: 7px 11px !important;
    }

    /* nav */
    nav,
    .navbar {
        border-bottom: 1px solid transparent;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    /*  mobile menu */
    .navbar-toggler {
        padding: 0;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
    }

    .nav-link,
    .nav-item {
        font-weight: bold;
    }

    .nav-link {
        border-top: 1px solid lightgrey;
        padding: 1rem 1rem;
    }

    .nav-link:hover {
        color: #ff6902;
    }

    .page-title {
        font-size: 10vmin;
        letter-spacing: -5px;
    }

    /*banner image alignment center @mobile*/
    .banner-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .banner-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    /*features carousel*/
    .device-carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /* utility class for breaking sentences @mobile */
    .line-break-sm {
        display: table;
    }
    /* imgs */
    .img-iphone-password {
        width: 100%;
        left: 0px;
        top: -45px;
    }
    .feat-phone--port {
        padding-top: 60px;
    }
    

    /* API blog layout */
    .columns--blog {
        -webkit-column-count: 3;
        column-count: 3;
    }

    /* hide desktop download button on tablet and mobile */
    #desktop_download {
        display: none;
    }

    /* flex order */
    .o-1 {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .o-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .o-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .o-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .o-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .btn-lg {
        font-size: 18px;
        padding: .375rem .75rem;
        padding: 5px 10px;
    }

    /* features + community column count*/
    .columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 768px) {

    .banner-gradient {
        height: 916px;
        width: 754px;
        max-width: 100%;
        left: -350px;
        top: -200px;
        border-radius: 20px 20px 50% 20px;
        -webkit-border-radius: 20px 20px 50% 20px;
        -moz-border-radius: 20px 20px 50% 20px;
        -ms-border-radius: 20px 20px 50% 20px;
        -o-border-radius: 20px 20px 50% 20px;
}

    /* homepage front title */
    .page-title {
        font-size: 10vmin;
        font-weight: 900;
        letter-spacing: -3px;
        line-height: 85%;
    }

    /* utility class for breaking sentences @mobile */
    .line-break-md {
        display: table;
    }

    /*   utility class to reduce 100vh on mobile */
    .min--100 {
        min-height: 700px;
    }
    /* API blog layout */
    .columns--blog {
        -webkit-column-count: 2;
        column-count: 2;
    }

    .img-port-desktop {
        width: 900px;
        bottom: -170px;
        left: -150px;
    }
    .img-portfolio-hand {
        width: 800px;
        left: -80px;
    }
    .img-shield {
        /* width: 450px;
        left: 100px; */
        width: 100%;
        padding: 100px;
        left: 0;
        margin-top: 30px;
    }
}

@media screen and (max-width: 601px) {

    .banner-gradient {
        /*left: -286px;*/
        /*top: -23px;*/
        left: -326px;
        top: -36px;
        padding: 250px;
    }

    /*utilities*/
    .d-sm-flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    /* utility class for breaking sentences @mobile */
    .line-break-md {
        display: inline;
    }

    /*reduce navbar logo and mobile menu size*/
    .navbar-brand .jaxx-navbar-brand {
        height: auto;
        margin: 10px 5px 0;
        width: 77px;
    }
    /* API blog layout */
    .columns--blog {
        -webkit-column-count: 1;
        column-count: 1;
    }

    .jazzy {
        width: 455px;
        right: -50px;
    }
    .img-port-desktop {
        width: 900px;
        bottom: -173px;
        left: -300px;
    }
    .img-home-support {
        width: 350px;
    }
    .img-portfolio-hand {
        width: 700px;
        left: -240px;
    }
    .img-shield {
        width: 100%;
        left: 0;
        padding: 0;
        margin-top: 0;
    }
    .img-iphone-password {
        width: 400px;
        left: -50px;
        top: 0;
    }
    .site-title {
        font-size: 42px;
    }

    p {
        font-size: 19px;
        font-weight: bold;
    }

    #desktop_download {
        display: none;
    }

    /* styles for improved scroll on chrome --> http://www.sanyamkhurana.com/blog/bootstrap-modal-scroll-bug-on-chrome-easy-fix.html */
    .modal-body {
        position: relative;
        /*    padding: 20px;*/
        height: auto;
        height: 500px;
        overflow-y: scroll;
    }

    /*about page history modal*/
    .timeline-item {
        /*      padding: 3em 0 1.5em 1.5em;*/
        padding: 0.5em 0 1.5em 1.5em;
    }

    .timeline-item:last-child {
        -o-border-image: none;
        border-image: none;
    }

    #values p,
    #history p {
        font-size: 17px;
        font-weight: normal;
        line-height: 120%;
    }

    .page-title {
        font-size: 12vmin;
        font-weight: 900;
        letter-spacing: -3px;
        line-height: 85%;
    }

    .section-title {
        font-size: 36px;
        /*twitter*/
        font-weight: bold;
        line-height: 100%;
        letter-spacing: -1px;
    }

    /* cookies banner button */
    .cc-btn {
        border-width: 1px;
        width: 100%;
    }

    #main .fa {
        font-size: 8vmin;
        padding: 20px 8px 0;
    }

    /* flex orders */
    .o-1 {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .o-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    footer p {
        font-size: 14px;
    }

    .footer-leaf {
        height: 35px;
    }

    .min-700-lg {
        min-height: 500px;
    }

    /*downloads page badges*/
    .downloads-badge-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /* features + community page column count*/

    .columns {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/* make features page modal 80% width */

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 80%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href)")";
    }

    abbr[title]:after {
        content: " ("attr(title)")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}